header{
    /*border: red solid 2px;*/
}


.logo_class{
    border: skyblue solid 2px;
    border-radius: 30%;
    margin: 3px;
    width: 20%;
}

.header_content_class{
    /*border: yellow solid 2px;*/
    display: flex;
    justify-content: center;
}

