<form action="" method="post" class="form_appointment_class">

    <div class="form_appointment_content_class">

        <input type="text" name="nom" placeholder="nom" class="input_nom_class" required>

        <input type="text" name="prenom" placeholder="prenom" class="input_prenom_class" required>

        <input type="email" name="email" placeholder="email" class="input_email_class" required>

        <input type="date" name="date" placeholder="date" class="input_date_class" required>

        <input type="time" name="heure" placeholder="heure" class="input_heure_class" required>

        <input type="text" name="subject" placeholder="sujet" class="input_subject_class" required>

        <input type="submit" name="btn_continu" value="CONTINUER" class="input_btn_continu_class">

        <a href="users/home" class="link_btn_retour"> <button type="button" class="button_btn_retour"> RETOUR </button> </a>
    
    </div>

</form>